@charset "utf-8";

/* ---- Bootstrap Override --- */
/* Container  */
/* If Width Larger than 481px */
@media only screen and (min-width: 481px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

/* Navigation */
.navbar-nav {
  margin: 0 !important;
}

/* ----- Fonts ----- */
/* Wiki */
@font-face {
  font-family: 'linux_biolinumbold';
  src: url('/fonts/linux_biolinum/linbiolinum_rbah.woff2');
}


/* ----- Main Template Sections ----- */
/* Header */
header {
  padding: 0;
  background: #2b2d31;
  color: #fff;
}

/* Main */
main {
  display: block !important;
  padding: 2em 0 2em 0;
}

/* Container Inner  */
.con {
  width: 100%;
  max-width: 100%;
}

/* Subfeature */
.subfeature {
  padding: 2em 0;
  background: #0c0b10;
  color: #c5c8cf;
}

/* Breadcrumbs */
.breadcrumbs {
  text-align: right;
}
.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.breadcrumbs ul li {
  display: inline;
  margin: 0 0.5em;
}
.breadcrumbs a {
  color: #c5c8cf;
}
.breadcrumbs a:hover {
  color: #9f3ed2;
}

/* footer */
footer {
  z-index: 100;
  position: relative;
  flex: 1;
  padding: 2em 0;
  background: #2b2d31;
  color: #9b9b9b;
  text-align: center;
}

#footer td {
  border: 0;
}

/* If Width Larger than 376px */
@media only screen and (min-width: 375px) {
  .copyright {
    text-align: left;
  }
}
/* If Width Smaller than 375px */
@media only screen and (max-width: 376px) {
  #footer .row .col {
      flex-basis: unset !important;
      text-align: center;
      margin: 0 0 1em 0;
  }
}

/* Errors */
.error-404 {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

/* ----- HTML Elements ----- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #1a1a1d !important;
}
body {
  color: #c5c8cf !important;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  font-family: 'Istok Web', sans-serif;
  background-position: 50% 0;
  position: relative;
  line-height: 1.5 !important;
  font-size: 1em !important;
}

.hidden {
  display:none;
}

p {
  margin: 0.5em 0 !important;
}
ol li {
  text-indent: 0.25em;
}
ul, ol, dl {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
  padding: 0 0 0 2.5em;
}
ul ul {
  margin-left: 1em;
}

.list-column-2 {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
.list-column-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
.list-column-4 {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}
a {
  color: #9f3ed2;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
a strong {
  color: #9f3ed2;
}
hr {
  margin: 2em 0 !important;
  border-bottom: 2px solid rgb(63, 65, 69) !important;
}
pre {
  background-color: #0c0b10 !important;
  padding: 1.5em !important;
  border-radius: 0.1875em;
}
pre, code {
  overflow: auto;
}
.right {
  float:right;
  margin: 0 0 2em 1.5em;
}
.left {
   float:left;
   margin: 0 1.5em 2em 0;
}


/* ------- Logo ------- */
.navbar-brand { /* Bootstrap Override */
  background-image: url("/img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 5rem;
  height: 100%;
}
/* If Width Larger than 481px */
@media only screen and (min-width: 481px) {
  .logo {
    background-image: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5rem;
    height: 100%;
  }
}
/* If Width Smaller than 989px */
@media only screen and (max-width: 989px) {
	.logo {
    background-image: url("/img/logo.svg");
    background-repeat: no-repeat;
	  background-position: left center;
	  height: 2.5em;
	  width: 70%;
	  margin: 1em 0 1em 0;
	}
	.navbar-brand {
		display: none !important;
	}
}
/* If Width Smaller than 480px */
@media only screen and (max-width: 480px) {
  .logo {
    background-image: url("/img/logo.svg");
    background-repeat: no-repeat;
	  background-position: center center;
	}
}


/* ------- Navigation Main ------- */
/* If Width Larger than 990px */
@media only screen and (min-width: 990px) {
  /* Mobile Menu */
  #navbarSupportedContent {
      display: inline-block !important;
  }
  .nav-mobile {
    display: none;
    visibility: hidden;
  }
}
/* If Width Smaller than 989px */
@media only screen and (max-width: 989px) {
  .nav-desktop {
    display: none;
    visibility: hidden;
  }
}
.navbar {
  height: 100%;
  padding: 0 !important;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #d7dae0;
}
.navbar-nav {
   font-size: 1.1em;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 1.1em;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #9f3ed2;
  background-color: #19191d;
}
.nav-link-active {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0 -2px 0 #9f3ed2;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 225, 225,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
  border-color: rgba(225, 225, 225,0.5) !important;
}

/* If Width Larger than 990px */
@media only screen and (min-width: 991px) {
  .nav-item {
    display: block;
    position: relative;
    min-width: 25%;
    text-align: center;
  }
  .dropdown-menu {
    margin: 0 !important;
  }
}

/* --- Dropdown Menu --- */
.dropdown-menu {
  /* Bootstrap Override */
  padding: 0 !important;
  font-size: 1.1rem !important;
  border: none !important;
  border-radius: 0 !important;
}

.dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ccc;
}

/* If Width Larger than 990px */
@media only screen and (min-width: 991px) {
  .dropdown-menu {
    margin: 0 !important;
  }
  .dropdown-menu, .dropdown-menu ul {
    -webkit-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.4);
  }
}

.dropdown-menu ul li {
  position: relative;
}
.dropdown-menu ul li ul {
  webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, -moz-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  opacity: 0;
}

.dropdown-menu li:hover > ul {
  /*display: block;
  overflow: visible;
  position: absolute;
  opacity: 1;*/
  background: #25282b; /* Old browsers */
  background: -moz-linear-gradient(left,  #25282b 0%, #2b2d31 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #25282b 0%,#2b2d31 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #25282b 0%,#2b2d31 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25282b', endColorstr='#2b2d31',GradientType=1 ); /* IE6-9 */
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #9f3ed2 !important;
  background-color: #19191d !important;
}

/* If Width Smaller than 989px */
@media only screen and (max-width: 989px) {
  ul:nth-child(1) a.dropdown-item {
      padding: 0.6em 1em 0.6em 2em;
  }
  ul:nth-child(2) a.dropdown-item {
      padding: 0.6em 1em 0.6em 4em;
  }
}

/* If Width Larger than 990px */
@media only screen and (min-width: 991px) {
  a.dropdown-item {
      padding: 0.6em 1em;
      min-width: 200px;
  }
}

.dropdown-menu ul li a:hover {
    color: #9f3ed2;
    background-color: #19191d;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #d2d2d2 !important;
}

/* ------- Navigation Submenu ------- */
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}



/* ------- Navigation Footer ------- */
.nav-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-footer ul li {
  display: inline;
  margin: 0 0.5em;
}
.nav-footer ul li a {
  color: #9b9b9b;
}
.nav-footer ul li a:hover {
  color: #9f3ed2;
}

.back-to-top {
  width: 100%;
  padding: 1em 15px 1em 15px;
  text-align: right;
}
.back-to-top a {
  color: #c5c8cf;
}
.back-to-top a:hover {
  color: #9f3ed2;
}

/* ----- Table ----- */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5em 0;
}
tr, td, th {
  vertical-align: middle;
}
td {
  padding: 0.5em;
  border: 1px solid #3f4145;
}


/* ----- Banner ----- */
.banner h1 {
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
  padding: 0.8em 0.2em 0.7em 0.2em;
  border-bottom: 1px solid #3f4145;
}

/* If Width Larger than 990px */
@media only screen and (min-width: 990px) {
	.banner h1 {
	  padding: 0.8em 0 0.7em 0;
	}
}
/* If Width Smaller than 989px */
@media only screen and (max-width: 989px) {
	.banner h1 {
	  padding: 0.8em 0.2em 0.7em 0.2em;
	}
}


/* ----- Wiki ----- */
/* TOC */
/* Mobile Width */
#toc {
  display: inline-block;
  min-width: 260px;
  max-width: 300px;
  padding: 0 2em 1.5em 1.5em;
  border: 1px solid #5d5f63;
  background-color: #0c0b10;
  list-style-type: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  font-size: 0.85em;
  letter-spacing: 0.02em;
}
#toc ol {
  display: block;
  counter-reset: item;
  border: none;
  margin:0;
  padding: 0;
}
#toc ol li {
  margin: 0 0 0.2em 0;
  text-indent: 0;
}
#toc ol ol li {
  padding: 0 0 0 2em;
}
#toc li {
  display: block;
}
#toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  padding: 0 0.2em 0 0;
  color: #c5c8cf;
}
/* If Width Larger than 481px */
@media only screen and (min-width: 481px) {
  #toc {
    margin: 0 0 2em 1.5em;
  }
}
/* If Width Smaller than 480px */
@media only screen and (max-width: 480px) {
  #toc {
    float: none;
    clear:both;
    margin: 0 0 2em 0;
  }
}

/* Heading Anchor */
.anchorjs-link {
  display: none;
}
.wiki .anchorjs-link {
  display: inline-block;
}
/* Wiki Article */
.wiki {
  padding: 2em 0;
}
.wiki h1, h2, h3, h4, h5, h6 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  /*line-height: 1em;*/
  color: #fff;
}
.wiki h2 {
  font-family: 'linux_biolinumbold', serif;
  font-size: 1.6em;
  font-weight: 300;
  margin: 2.3em 0 0.6em 0;
  padding: 0 0 0.15em 0;
  border-bottom: 1px solid #3f4145;
  overflow: hidden;
  clear: left;
}
.wiki h2:first-of-type {
  margin: 1em 0 0.6em 0;
}
.wiki h3 {
  font-size: 1.3em;
  margin: 1.6em 0 0.5em 0;
  position: relative;
  clear: left;
  display: table;
}
.wiki h3::after {
}
.wiki h4 {
  font-size: 1em;
  margin: 1.6em 0 0.5em 0;
}
.wiki h6 {
  font-size: 1em;
  margin: 1em 0;
}

span.system {
  font-family: "Menlo", "Monaco", monospace;
  font-size: 0.9em;
  color: #fff;
  background-color: #0c0b10;
  border: 0px solid #7b7d81;
  padding: 3px 6px;
}
span.system-inline-block {
  display: inline-block;
  font-family: "Menlo", "Monaco", monospace;
  font-size: 0.9em;
  color: #fff;
  background-color: #0c0b10;
  border: 0px solid #7b7d81;
  padding: 6px 10px;
}

span.highlight {
  font-family: Titillium Web;
  font-weight: 600;
  color: #e6e6e6;
}
ul.highlight {
  display: block;
  padding: 0.5em 1em 0.5em 2em;
  margin: 0;
  overflow: hidden;
  border: 1px solid #9f3ed2;
  background-color: #0c0b10;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* tright & tleft */
.tleft, .tright {
  max-width: 300px; /* Limits the image if width not hardcoded */
}
/* If Width Larger than 481px */
@media only screen and (min-width: 481px) {
  .tleft {
    float: left;
    margin: 0 1.4em 2em 0;
  }
  .tright {
    float: right;
    margin: 0 0 2em 1em;
    clear: right;
  }
}
/* If Width Smaller than 480px */
@media only screen and (max-width: 480px) {
  .tleft {
    clear: both;
    margin: 0;
  }
  .tright {
    clear: both;
    margin: 0;
  }
}

figcaption {
  display: block;
  font-size: 0.8em;
  margin: 0 0 1.5em 0;
}
/* Gallery */
.gallery figure {
  display: inline-block;
  margin: 0.5em 1em 2.5em 0.5em !important;
  width: 200px;
  height: 150px;
  vertical-align: top;
}
.gallery img {
  max-height: 135px !important;
}
.gallery img.thumb {
  max-width: 100%;
  height: auto;
}
.gallery a.thumb {
  /*display: inline-block;*/
  display: flex;
  align-items: center;
  height: 150px;
  width: 200px;
  padding: 6px;
}
.gallery-small figure {
  display: inline-block;
  margin: 0.5em 1em 2.5em 0.5em !important;
  height: 100px;
  max-width: 200px;
  vertical-align: top;
}
.gallery-small img {
  max-height: 90px !important;
  width: auto !important;
  position: relative;
}
/* Thumbnail */
.thumbnail {
  width: 100%;
  height: 100%;
}
img.thumb {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  max-height: 220px;
  max-width: 100%;
}

a.thumb {
  display: inline-block;
  max-width: 100%;
  min-width: 180px;
  margin: 0 0 0.2em 0;
  padding: 4px;
  background-color: #0c0b10;
  border: 0px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.thumb:hover, a.thumb:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}


/* ----- Social Buttons ----- */
/* If Width Smaller than 989px */
@media only screen and (max-width: 989px) {
   /* Footer */
   .social-buttons {
     text-align: center !important;
   }
  .resp-sharing-button__link {
    margin: 0 0.2em 0.5em 0.2em !important;
  }
}
/* If Width Larger than 376px */
@media only screen and (min-width: 375px) {
  .copyright {
    text-align: left;
  }
  .social-buttons {
    text-align: right;
  }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}
.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0 0.25em;
  vertical-align: top;
}
.resp-sharing-button {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  transition: 25ms ease-out;
  padding: 4px 5px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1em;
}
.resp-sharing-button__icon svg {
  height: 1em;
  width: 13px;
}
.resp-sharing-button--small svg {
  margin: 1px 0 0 0;
}
/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}
/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}
.resp-sharing-button--twitter {
  background-color: #55acee
}
.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}
.resp-sharing-button--pinterest {
  background-color: #bd081c
}
.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}
.resp-sharing-button--cybr {
  background-color: #333
}
.resp-sharing-button--cybr:hover {
  background-color: #222
}
.resp-sharing-button--facebook {
  background-color: #3b5998
}
.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}
.resp-sharing-button--tumblr {
  background-color: #35465C
}
.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}
.resp-sharing-button--reddit {
  background-color: #5f99cf
}
.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}
.resp-sharing-button--google {
  background-color: #dd4b39
}
.resp-sharing-button--google:hover {
  background-color: #c23321
}
.resp-sharing-button--linkedin {
  background-color: #0077b5
}
.resp-sharing-button--linkedin:hover {
  background-color: #046293
}
.resp-sharing-button--email {
  background-color: #777
}
.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}
.resp-sharing-button--xing {
  background-color: #1a7576
}
.resp-sharing-button--xing:hover {
  background-color: #114c4c
}
.resp-sharing-button--whatsapp {
  background-color: #25D366
}
.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}
.resp-sharing-button--hackernews {
  background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}
.resp-sharing-button--vk:hover {
  background-color: #43648c
}
.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}
.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}
.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}
.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}
.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}
.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}
.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}
